.header__bottom .menu__list {
    display: flex;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
}

.header__bottom .menu__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    aspect-ratio: 215 / 75;
    background-image: url('@/assets/images/bg-menu-header.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}   

.header__bottom .menu__item:hover .menu__link {
    color: var(--color-secondary);
}

.header__bottom .menu__link {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.45;
    color: var(--color-primary);
}

@media (max-width: 1024px) {
    .header__bottom .menu__list {
        column-gap: 30px;
    }

    .header__bottom .menu__link {
        font-size: 20px;
        line-height: 1;
    }
}

@media (max-width: 991px) {
    .header__bottom .menu__list {
        column-gap: 20px;
    }

    .header__bottom .menu__link {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .header__bottom .menu__list {
        display: none;
    }
}