.header__bottom .menu__list {
    gap: 40px;
}

.header__bottom .menu__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    height: 75px;
    background-image: url('@/assets/images/bg-menu-header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}   

.header__bottom .menu__item:hover .menu__link {
    color: var(--color-secondary);
}

.header__bottom .menu__link {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.45;
    color: var(--color-primary);
}