.family-foundation {
  padding-top: 30px;
  padding-bottom: 30px;
}

.family-foundation__heading {
  margin-bottom: 50px;
  font-family: 'TH Sentimental Feeling';
  font-weight: 400;
  font-size: 45px;
  line-height: 1.18;
  text-align: center;
  max-width: 1210px;
  color: var(--color-primary);
}

.family-foundation__list {
    display: flex;
    gap: 42px;
    max-width: 1210px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

.family-foundation__item {
  padding: 16px 16px 24px;
  display: flex;
  flex: 0 0 calc((100% - 84px) / 3);
  flex-direction: column;
  row-gap: 28px;
  border-radius: 15px;
  scroll-snap-align: center;
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
}

.family-foundation__item-thumb img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.family-foundation__item-content {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.family-foundation__item-title {
  font-family: 'Cameo Sans Regular';
  font-weight: 400;
  font-size: 28px;
  line-height: 1;
  color: var(--color-primary);
}

@media (max-width: 991px) {
  .family-foundation__heading {
    font-size: 36px;
  }

  .family-foundation__list {
    padding-bottom: 8px;  
  }

  .family-foundation__item {
    flex: 0 0 300px;
  }
}

@media (max-width: 767px) {
  .family-foundation__heading {
    font-size: 28px;
  }

  .family-foundation__list {
    gap: 24px;
  }
}