#footer .menu__list {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#footer .menu__item:hover .menu__link {
    color: var(--color-active);
}

#footer .menu__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-white);
    transition: color .2s ease-in-out;
}

#footer .menu__link.active {
    color: var(--color-active);
}

@media (max-width: 767px) {
    #footer .menu__list {
        gap: 10px 20px;
    }
}