/* News */
.news {
  padding-top: 30px;
  padding-bottom: 30px;
}

.page-news {
padding-top: 60px;
  padding-bottom: 60px;
}

.news__heading {
  margin-bottom: 50px;
  text-align: center;
  max-width: 1210px;
}

.news__list {
  display: grid;
  gap: 42px;
  max-width: 1210px;
  grid-template-columns: repeat(3, 1fr);
}

.news__item {
  padding: 16px 16px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  border-radius: 15px;
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
}

.news__item-thumb img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.news__item-content {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.news__item-title {
  font-family: 'Cameo Sans Regular';
  font-weight: 400;
  font-size: 28px;
  line-height: 1;
  color: var(--color-primary);
}

.news__item-desc {
  font-weight: 300;
  
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}