.page-clan-pact {
    position: relative;
    margin-top: -169px;
    padding-top: 110px;
    padding-bottom: 165px;
    background-image: url('@/assets/images/73960a8aad9a3f1e5ae364ef7e6f0fbd00f77f23.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.page-clan-pact > .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1150px;
}

.page-clan-pact__heading {
    margin-bottom: 15px;
}

.page-clan-pact__content {
    padding-right: 8px;
    height: 350px;
    overflow-y: auto;
}

/* Thanh cuộn */
.page-clan-pact__content::-webkit-scrollbar {
    width: 6px;
}

/* Nền thanh cuộn */
.page-clan-pact__content::-webkit-scrollbar-track {
    border-radius: 10px;
    background: var(--color-bg);
}

/* Thanh kéo */
.page-clan-pact__content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--color-secondary);
}

/* Hover */
.page-clan-pact__content::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary);
}

@media (max-width: 1024px) {
    .page-clan-pact {
        padding-top: 110px;
        padding-bottom: 110px;
        background-size: cover
    }
}