.fc .fc-toolbar {
    gap: 20px;
    flex-wrap: wrap;
}

.fc .fc-toolbar .fc-toolbar-chunk:last-child {
    display: none;
}

.fc .fc-toolbar-title {
    font-family: 'Cameo Sans Regular';
    font-weight: 400;
    font-size: 28px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-primary);
}

.fc .fc-button.fc-button-primary {
    padding: 8px 16px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.61;
    letter-spacing: 0.05em;
    border-radius: 10px;
    color: var(--color-white);
    border: 1px solid transparent;
    background-color: var(--color-primary);
    transition: all .3s ease-in-out;
}

.fc .fc-button.fc-button-primary:hover {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
    background-color: var(--color-white);
}

.fc .fc-scrollgrid-section-body > *,
.fc .fc-scrollgrid-section-sticky > * {
    background-color: var(--color-white);
}

.fc-daygrid-day-number .calendar-date {
    font-size: 22px;
    color: var(--color-primary);
}

.fc-daygrid-day-number .lunar-date {
    font-size: 14px;
}

.fc-h-event .fc-event-main .fc-event-multiday {
    display: flex;
}

.fc-direction-ltr .fc-daygrid-dot-event {
    display: flex;
    align-items: unset;
    flex-direction: column;
}

.fc-direction-ltr .fc-daygrid-event .fc-event-wrap {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time, 
.fc-direction-ltr .fc-daygrid-event .fc-event-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time {
    opacity: 0.6;
}

.fc-direction-ltr .fc-h-event {
    padding: 0 8px;
    border-radius: 50px;
}


#events_list {
    margin-top: 30px;
    display: flex;
    row-gap: 12px;
    flex-direction: column;
}

#events_list .event-list__title {
    font-size: 18px;
    color: var(--color-primary);
}

#events_list .item-event {
    padding-bottom: 12px;
    border-bottom: 1px solid #96969666;
}

#events_list .item-event-wrap {
    display: flex;
    column-gap: 4px;
    align-items: center;
    flex-direction: row;
}

#events_list .item-event__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--dot-color, #33333380);
}

#events_list .item-event__time {
    opacity: 0.6;
}

#events_list .item-event__time, 
#events_list .item-event__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 767px) {
    .fc-daygrid-day-number .calendar-date {
        text-align: center;
    }
    
    .fc .fc-daygrid-body-natural .fc-daygrid-day-events {
        margin-bottom: 0;
    }
}