.page-genealogy {
    padding-top: 60px;
    padding-bottom: 60px;
}

.page-genealogy > .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.page-genealogy__heading {
    margin-bottom: 15px;
}

#tree {
    overflow: visible !important;
    background-color: transparent;
}

#tree .bft-img-button svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tree .bft-edit-form-instruments {
    display: none;
}

#tree .bft-edit-form-fields-inner {
    margin: 50px 7px 20px 7px;
}

#tree .bft-family-menu [data-item] {
    display: flex;
    column-gap: 4px;
    align-items: center;
}

#tree .bft-button {
    padding: 5px 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
}