.news {
  padding-top: 30px;
  padding-bottom: 30px;

  &__heading {
    margin-bottom: 50px;
    text-align: center;
    max-width: 1210px;
  }

  &__list {
    display: grid;
    gap: 42px;
    max-width: 1210px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    padding: 16px 16px 24px;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    border-radius: 15px;
    border: 1px solid var(--color-border);
    background-color: var(--color-white);

    &-thumb {
      img {
        width: 100%;
        height: 240px;
        object-fit: cover;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      row-gap: 14px;
    }

    &-title {
      font-family: 'Cameo Sans Regular';
      font-weight: 400;
      font-size: 24px;
      line-height: 1;
      color: var(--color-primary);
    }

    &-desc {
      font-weight: 300;
    }
  }
}
