@font-face {
  font-family: 'Cameo Sans Regular';
  src: url('@/assets/fonts/CameoSansRegularRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: url('@/assets/fonts/BeVietnam-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: url('@/assets/fonts/BeVietnam-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: url('@/assets/fonts/BeVietnam-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: url('@/assets/fonts/BeVietnam-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: url('@/assets/fonts/BeVietnam-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: url('@/assets/fonts/BeVietnam-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: url('@/assets/fonts/BeVietnam-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: url('@/assets/fonts/BeVietnam-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: url('@/assets/fonts/BeVietnam-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: url('@/assets/fonts/BeVietnam-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: url('@/assets/fonts/BeVietnam-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: url('@/assets/fonts/BeVietnam-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}