.intro {
  position: relative;
  margin-top: -169px;
  padding-top: 110px;
  padding-bottom: 165px;
  background-image: url('@/assets/images/bg-intro.png');
  background-size: contain;
  background-position: 44% 100%;
  background-repeat: no-repeat;

  &__info {
    margin-bottom: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 100%;
    max-width: 1150px;
  }

  &__heading {
    margin-bottom: 15px;
  }

  &__desc {
    margin-bottom: 20px;
    text-align: center;
  }

  &__cta {
    background-color: #ffffff80;
  }

  &__counters {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    max-width: 1150px;
  }

  &__counter-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Counter item */
.counter-item {
  padding: 10px 0 15px 32px;
  display: flex;
  flex-direction: column;
  background-image: url('@/assets/images/bg-counter.png');
  background-size: contain;
  background-position: 100% 80%;
  background-repeat: no-repeat;

  &__value {
    display: flex;
    align-items: flex-start;
  }

  &__number {
    font-size: 32px;
    color: var(--color-counter);
  }

  &__suffix {
    font-size: 26px;
    color: var(--color-white);
  }

  &__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: var(--color-white);
  }
}
